@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css);
@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap);
h1,
h2,
h3,
h4,
h5 {
    color: #f6d167;
    font-weight: 500
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: "Roboto"
}

p {
    font-weight: 300
}

.navbar {
    padding: 2% 5%;
    background-color: #297f87
}

.logo {
    height: 3rem
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Roboto";
    font-weight: 500;
    padding-left: 10px
}

#title {
    background-image: url(/static/media/title-background-image.5de6e72a.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center
}

.title-image {
    width: 100%
}

.about-us-content {
    background-color: #297f87;
    padding: 2% 3%;
    text-align: center
}

.about-us-content h1 {
    color: #ff0;
    text-align: left
}

.about-us-content p {
    color: #fff;
    text-align: left
}

.about-us-image {
    background-image: url(/static/media/about-us.5da72dee.png);
    position: relative
}

.card-1 {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 25%;
    left: 25%
}

.card-1,
.card-2 {
    position: absolute;
    width: 30%
}

.card-2 {
    top: 20%;
    left: 40%
}

.card-3 {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;
    width: 30%;
    top: 30%;
    right: 20%
}

#tokenomics {
    text-align: center;
    background-image: url(/static/media/tokenomics-background.4b458db3.jpg);
    background-position: 50%
}

#tokenomics .fas {
    color: #297f87
}

#tokenomics .container-fluid {
    padding: 7% 15%
}

.card {
    background-color: #297f87;
    color: #fff;
    margin-bottom: 30px
}

#audits {
    text-align: center;
    background-image: url(/static/media/audit-background.c826c16d.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

#audits .container-fluid {
    padding: 7% 15%
}

.audit-cert {
    width: 50%
}

#partner {
    text-align: center;
    background-image: url(/static/media/partner-background.907b6af0.png);
    height: 20%
}

#partner .container-fluid {
    padding: 7% 15%
}

.partner-logo {
    height: 7rem
}

.partner-logo:hover {
    height: 7.5rem
}

#play-now .container-fluid {
    padding: 7% 15%
}

#play-now {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/static/media/menu_background.f7fdfed1.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center
}

.play-button-cat {
    padding-bottom: 10px;
    height: 10rem
}

.play-button {
    font-size: 2rem;
    font-family: "Roboto";
    font-weight: 500;
    margin-left: 0
}

#contact {
    text-align: center;
    background-color: #069999;
    color: #f6d167
}

#contact .container-fluid {
    padding: 7% 15%
}

.social-icon {
    margin: 20px 10px;
    color: #f6d167
}

@media (max-width:750px) {
    .about-us-content h1,
    .about-us-content p,
    body {
        text-align: center
    }
    #play-now,
    .about-us-image,
    .cat,
    .play-now-button {
        display: none
    }
}

.styleOutlineHome,
h1 {
    text-shadow: 1px 1px #056641
}

/*# sourceMappingURL=main.488fdbc7.chunk.css.map */